## ineuron Assessment Test-2

## Predict likes and time since posted

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler, MinMaxScaler

from sklearn.metrics import mean_squared_error

In [23]:
data = pd.read_csv("instagram_reach.csv")

### EDA

In [24]:
data.head(3)
data.tail(3)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [27]:
data.describe()

       Unnamed: 0        S.No   Followers      Likes
count  100.000000  100.000000   100.00000  100.00000
mean     8.940000   16.240000   961.96000   46.48000
std      6.639064    7.384286  1014.62567   55.08698
min      0.000000    1.000000    11.00000    8.00000
25%      4.000000   10.750000   252.75000   19.00000
50%      8.000000   16.500000   612.00000   29.00000
75%     12.250000   22.250000  1197.00000   46.00000
max     26.000000   30.000000  4496.00000  349.00000

In [28]:
data.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [29]:
data['Unnamed: 0'].head(50)
data['Unnamed: 0'].tail(20)
# this shows that , this column is just index column, it will not help in analysis., we have to remove it

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27     0
28     1
29     2
30     3
31     4
32     5
33     6
34     7
35     8
36     9
37    10
38    11
39     0
40     1
41     2
42     3
43     4
44     5
45     6
46     7
47     8
48     9
49    10
Name: Unnamed: 0, dtype: int64

80     7
81     8
82     9
83    10
84    11
85    12
86    13
87     0
88     1
89     2
90     3
91     4
92     5
93     6
94     7
95     8
96     9
97    10
98    11
99    12
Name: Unnamed: 0, dtype: int64

In [30]:
data['S.No'].head(10) ; data['S.No'].tail(10)
# this shows that , this column is just index column, it will not help in analysis., we have to remove it

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: S.No, dtype: int64

90    13
91    14
92    15
93    17
94    18
95    19
96    21
97    22
98    24
99    25
Name: S.No, dtype: int64

In [31]:
data = data.drop(["Unnamed: 0", "S.No"], axis=1)
data.head(3)

,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25

In [33]:
data.columns

Index(['USERNAME', 'Caption', 'Followers', 'Hashtags', 'Time since posted',
       'Likes'],
      dtype='object')

In [32]:
data.shape
# there are 100 rows and 6 columns
# Independant variables -- 'USERNAME', 'Caption', 'Followers', 'Hashtags'
# Dependant variables --'Time since posted', 'Likes'

(100, 6)